<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Your Current Beauty Plan</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
<!--         <ion-card *ngFor="let el of plan.plan">      
            <ion-item>   
                <ion-icon name="clipboard" item-left></ion-icon>
                <h1>{{el.time}}</h1>
                <button ion-button clear (click)="openItem(el)" item-right>Details</button>
            </ion-item>
            <ion-item>
                <ion-list>
                    <ion-item   *ngFor="let step of el.steps">
                            <ion-icon name="checkmark" item-start></ion-icon>
                           {{step.description}}
                    </ion-item>
                </ion-list>
            </ion-item> 
        </ion-card>
 -->
  </ion-content>